header{
	width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;	
  align-items: center;
  padding-top: -15px;
	background-color: whitesmoke;

}

.header-left{
  width: 180px;
  height: 180px;
  margin-left: 20px;
  margin-top: 20px;
}

.header-right ul{
  display: flex;
  color: black;
  margin-right: 50px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header-right li{
  margin-right: 50px;
  font-size: 18px;
}

.header-right ul{
  display: flex;
  color: black;
  margin-right: 50px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header-right li{
  margin-right: 50px;
  font-size: 20px;
}

.main-title{
	text-align: center;
	width: 300px;
  font-size: 50px;
  font-weight: 900;
	position: absolute;
	top: 430px;
	left: 600px;
	color: rgb(47, 45, 45);
	background-color:blanchedalmond;
	font-family: 'Oswald', sans-serif;
	font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'Square Peg', cursive;
}

/* FafeIn */
@keyframes fadeInAnime{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.main-title{
  animation-name: fadeInAnime;
  animation-fill-mode:backwards;
  animation-duration:5s;
  /* animation-iteration-count:infinite; */
  animation-timing-function:ease;
  animation-delay: .8s;
  animation-direction:normal;
  }

h5{
	font-size: 40px;
	margin: 20px 0px 0px 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.sub-title{
	font-size: 40px;
	text-align: center;
	margin: 50px 0px 30px 0px ;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-decoration: underline;
	text-decoration-color: black;
	border-width: 1px;
}

h2{
	font-size: 40px;
	text-align: center;
	margin: 50px 0px 30px 0px ;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.sub-title1{
	font-size: 40px;
	text-align: center;
	margin: 50px 0px 30px 0px ;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.member-profile{
	background-color: gray;
	color: white;
}


.profile{
	width: 200px;
	height: 200px;
}

.member{
	display: flex;
	justify-content:center;
	margin: 30px 0px 30px 0px;
	background-color: gray;
	color: white;
}

.intro{
	display: flex;
	margin-right: 20px;
}

.us{
	display: block;
	margin-left: 20px;
}


.talk{
	display: flex;
	margin: 20px 0px 0px 20px;
	align-items: center;
}

.talk-pic{
	width: 60px;
	height: 60px;
	border-radius: 50%; 
	border: solid 1px gray;
}

.talking{
	margin-left: 10px;
}


.coffee-pic{
	width: 600px;
	height: auto;
	border-radius: 10px;
}

.process{
	display: flex;
	margin-left: 30px;
	/* width: 350px; */
}

.process ul{
	margin-left: 30px;
	font-size: 20px;
}

.description{
	margin-left: 40px;
	font-size: 20px;
}

h4{
	margin-left: 30px;
}

.store-pic{
	width: 400px;
	height: auto;
	margin-bottom: 20px;
}
.mug{
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

.mug .fa-solid{
	color: brown;
}


.fa-solid{
	color: blue;
}


a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: gray;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}


.insta{
	width: 300px;
	height: 500px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.post{
margin: 0px 50px 0px 85px;
}

.cafe{
	background-color: gray;
	color: whitesmoke;
}

footer{
  background-color: gray;
  height: 60px;
  margin-top: 50px;
  text-align: center;
	font-size: 18px;
  padding-top: 20px;
  color: white;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}


/* スライダー */
.cp_cssslider {
	width: 1200px;
	height: 675px;
	overflow: hidden;
	margin: 2em auto;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
	position: relative;
}

.cp_slide_item {
	width: 1200px;
	height: 675px;
	float: left;
	position: relative;
}
.cp_slidewrapper {
	width: 500%;/* slideの枚数×100% */
	position: relative;
	left: 0;
	animation: slider 18s infinite ease;/* スピード */
}
@-webkit-keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-4800px);
	}
	40% {
	-webkit-transform: translateX(-2400px);
	transform: translateX(-3600px);
	}
	60% {
	-webkit-transform: translateX(-3600px);
	transform: translateX(-2400px);
	}
	80% {
	-webkit-transform: translateX(-4800px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
@keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	40% {
	-webkit-transform: translateX(-2400px);
	transform: translateX(-2400px);
	}
	60% {
	-webkit-transform: translateX(-3600px);
	transform: translateX(-3600px);
	}
	80% {
	-webkit-transform: translateX(-4800px);
	transform: translateX(-4800px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}



/* レスポンシブ */
/* レスポンシブ対応 */
@media screen and (max-width: 780px){
.sp{
display: block;
}


header{
	position:sticky;
  top:0;
	width: 100%;
	height: 60px;
  display: flex;
  /* justify-content: space-between;	 */
  align-items: center;
  padding-top: -15px;
	background-color: whitesmoke;
	overflow: hidden;
}

	.header-left{
	width: 80px;
	height: auto;
	margin-left: 0px;
}

.header-right{
	margin-right: -50px;
	transition: right 1s ease;
position: fixed;
}

.header-right ul{
  display: block;
  color: black;
  margin-right: 60px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header-right li{
  margin-right: 10px;
  font-size: 14px;
}

/* スライダー */
.slider{
	margin-left: auto;
	margin-right: auto;
}

.cp_cssslider {
	width: 300px;
	height: auto;
	overflow: hidden;

	margin: 2em auto;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
	position: relative;
}

.cp_slide_item {
	width: 300px;
	height: auto;
	float: left;
	position: relative;
}
.cp_slidewrapper {
	width: 500%;/* slideの枚数×100% */
	position: relative;
	left: 0;
	animation: slider 16s infinite ease;/* スピード */
}
@-webkit-keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-60px);
	transform: translateX(-1200px);
	}
	40% {
	-webkit-transform: translateX(-120px);
	transform: translateX(-900px);
	}
	60% {
	-webkit-transform: translateX(-180px);
	transform: translateX(-600px);
	}
	80% {
	-webkit-transform: translateX(-240px);
	transform: translateX(-300px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
@keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}

.main-title{
	text-align: center;
	width: 160px;
  font-size: 20px;
  font-weight: 600;
	position: absolute;
	top: 180px;
	left: 120px;
	color: rgb(47, 45, 45);
	background-color:blanchedalmond;
	font-family: 'Oswald', sans-serif;
	font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'Square Peg', cursive;
}


h5{
	font-size: 16px;
	margin: 20px 0px 0px 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}



.sub-title{
	font-size: 16px;
	text-align: start;
	margin: 50px 0px 30px 20px ;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-decoration: underline;
	text-decoration-color: black;
	border-width: 1px;
}

h2{
	font-size: 16px;
	text-align: start;
	margin: 10px 0px 10px 10px ;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.sub-title1{
	font-size: 16px;
	text-align: center;
	margin: 10px 0px 10px 10px ;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.profile{
	width: 60px;
	height: 60px;
}

.member{
	display: block;
	width: 80%;
	justify-content:center;
	margin: 0px 0px 30px 2px;
	background-color: gray;
	color: white;
}

p{
	font-size: 8px;
}

h3{
	font-size: 10px;
}

li{
	font-size: 10px;
}

.intro{
	display: flex;
	margin-right: 20px;
	margin-bottom: 20px;
}

.us{
	display: block;
	margin-left: 5px;
}

.tool li{
	font-size: 10px;
}

.talk{
	display: flex;
	margin: 10px 0px 10px 10px;
	align-items: center;
}

.talk-pic{
	width: 30px;
	height: 30px;
	border-radius: 50%; 
	border: solid 1px gray;
}

.process{
	display: block;
}

.coffee-pic{
	width: 250px;
	height: auto;
	border-radius: 10px;
}


.process ul{
	margin-left: -10px;
	font-size: 14px;
}

.description{
	font-size: 10px;
	margin-left: -15px;
	margin-top: 0px;
}

.store-pic{
	width: 260px;
	height: auto;
	margin-bottom: 20px;
}

.mug{
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	font-size: 10px;
	width: 90%;
}

.cafe{
	background-color: gray;
	color: whitesmoke;
	width: 90%;
}

.insta{
	/* width: 100px;
  height: 200px; */
	display: block;
}

.about{
	margin-top: 1200px;
}

footer{
	font-size: 12px;
}

h4{
	font-size: 10px;
	margin-left: -15px;
}

.post{
	margin: 0px 0px 0px 15px;
	}
}

@media screen and (min-width: 680px){
	.sp{
		display: none;
	}
}